*{
    margin:2px;
    padding:0px;
}

h1{
    background-color: #081b31;
    color:white;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}

.choice{
    height: 180px;
    width:180px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    
}

.choice:hover{
    /* opacity:0.5; */
    cursor:pointer;
    background-color: #081b31;
    
}

img{
    height: 170px;
    width:170px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display:flex;
    justify-content: center;
    margin-top:4rem;
    align-items: center;
    gap:3rem;
}